includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/
        - config/
        - database/
        - resources/
        - routes/
        - tests/
    
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to an undefined property#'
        
    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*
        - node_modules/*
    
    reportUnmatchedIgnoredErrors: false